{% from "partials/icon.njk" import icon %}
{# Mood Strip - Citat #}

<section class="mood-strip max-w-6xl mx-auto px-4 sm:px-6 py-3 sm:py-4">
  <div class="mood-strip__grid">

    <figure class="quote-block" role="figure" aria-label="Uppmuntrande citat">
      <span class="quote-icon quote-icon-left" aria-hidden="true">
        {{ icon('fa-quote-left') }}
      </span>
      <blockquote id="dailyQuote" class="quote-text">
        <p></p>
      </blockquote>
      <figcaption id="quoteAuthor" class="quote-author"></figcaption>
      <span class="quote-icon quote-icon-right" aria-hidden="true">
        {{ icon('fa-quote-left') }}
      </span>
    </figure>

  </div>
</section>
